:root.theme-dark {
    --background-color: #000;
    --accent-theme-color: #00CC14;
    --text-color: #00CC14;
    --text-stroke: #000;
    --accent-font-family: 'Press Start 2P', sans-serif;
    --font-family: 'Inter-Variable', sans-serif;
    --hover-color: #00CC14;
    --heading-card-font-weight: 785;
    --text-font-weight: 465;
    --repeating-linear-gradient: #000;
    --linear-gradient: #007f0c;
    --accent-linear-gradient: #004306;
    --contour-color: #00CC14;
    --main-body-color: #ff0000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000;
        --accent-theme-color: #00CC14;
        --text-color: #00CC14;
        --text-stroke: #000;
        --accent-font-family: 'Press Start 2P', sans-serif;
        --font-family: 'Inter-Variable', sans-serif;
        --hover-color: #00CC14;
        --heading-card-font-weight: 785;
        --text-font-weight: 465;
        --repeating-linear-gradient: #000;
        --linear-gradient: #007f0c;
        --accent-linear-gradient: #004306;
        --contour-color: #00CC14;
        --main-body-color: #ff0000;
    }
}

:root.theme-light {
    --background-color: #fff;
    --accent-theme-color: #000;
    --text-color: #000;
    --text-stroke: #fff;
    --accent-font-family: 'Press Start 2P', sans-serif;
    --font-family: 'Inter-Variable', sans-serif;
    --hover-color: #fff;
    --heading-card-font-weight: 700;
    --text-font-weight: 400;
    --repeating-linear-gradient: #d3d3d3;
    --linear-gradient: #e7e7e7;
    --accent-linear-gradient: #1a1a1a;
    --contour-color: #000;
    --main-body-color: #ff0000;
}