:root {
  --background-color: #fff;
  --accent-theme-color: #000;
  --text-color: #000;
  --text-stroke: #fff;
  --accent-font-family: 'Press Start 2P', sans-serif;
  --font-family: 'Inter-Variable', sans-serif;
  --heading-card-font-weight: 700;
  --text-font-weight: 400;
  --hover-color: #fff;
  --repeating-linear-gradient: #d3d3d3;
  --linear-gradient: #e7e7e7;
  --accent-linear-gradient: #1a1a1a;
  --contour-color: #000;
  --main-body-color: #ff0000;
}